
.page.theme_dark {
  --background-color: #000028;
  --text-color: #FF0070;
  --color-hover: rgba(255, 0, 112, 0.40);
  --paragraph-color: #F1B2CE;
  --header-text-color: #FF0070;
  --text-decoration: #000028;
  --h1-text-color: #DB00FF;
  --h3-text-color: #000028;
  --paragraph-background-color: #FF0070;
  --background-img: url(../images/cover-image-dark.png);
  --hide-rec: flex;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #000028;
    --text-color: #FF0070;
    --color-hover: rgba(255, 0, 112, 0.40);
    --paragraph-color: #F1B2CE;
    --header-text-color: #FF0070;
    --text-decoration: #000028;
    --h1-text-color: #DB00FF;
    --h3-text-color: #000028;
    --paragraph-background-color: #FF0070;
    --background-img: url(../images/cover-image-dark.png);
    --hide-rec: flex;
  }
}




